#selectd
{
    background: gray;
}

#listimp
{
    background: gray;
    text-align: left;
    font: italic bold 20px Arial;

    height: 620px;
    width: 1000px;
}

#logoff
{
    float: right;
    margin-right: 10px;
}

/*Pagina listagem*/

#all_list
{
    background: gray;
    border-radius: 45px;
    text-align: left;
}