body
{
    background: rgb(196, 196, 196);
}
header
{
    text-align: center;
}

section
{
    text-align: center;
    font: normal 20px Helvetica, sans-serif;
    margin: auto;
    background: rgb(70, 70, 70);
    border-radius: 45px;
    width: 1124px;
    height: 724px;
}