body
{
    background: rgb(27, 27, 27);
}
header
{
    text-align: center;
}

#listimp
{
    background: gray;
    text-align: left;
    font: italic bold 20px Arial;

    height: 620px;
    width: 1000px;
}

#logoff
{
    float: right;
    margin-right: 10px;
}
section
{
    text-align: center;
    margin: auto;
}